.showreel-container {
  height: 100vh;
  overflow-y: scroll;
}

.showreel {
  position: relative;
  height: max-content;
}

.showreel-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.showreel-image {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.animate {
  opacity: 1;
  transform: translateX(0);
}
